.main {
    padding: 0% 2%;
}

.missionHead {
    width: 15%;
}
.descHead {
    width: 60%;
}

.missionName {
    font-size: 1.2rem;
    font-weight: 700;
}

.middleMover {
    margin: 20% 20% 20% 20%;
}
